# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor configs
.vscode/
.idea/

# Logs
*.log
